name: Update DJU Diet

on:
  schedule:
    - cron: '0 21 * * *' # 한국 시간 기준 매일 오전 6시 (UTC 21:00)
  workflow_dispatch: # 수동 실행 버튼

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install requests beautifulsoup4

      - name: Run crawler
        run: python crawling.py

      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add diet.json
          git commit -m "Update diet information" || exit 0
          git push
